
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/allure-results/
/allure-report/
/downloads/
state.json
/specs

.vscode
.playwright
.claude
*.png
/tests/AIGeneratedTests/*
*.md
*.html
.github/agents
.github/*/samples
.github/*/copilot-setup-steps.yml
